{% extends "base/base.html" %}

{% block title %}Blogs Title {% endblock %}

{% block container %}
    <div class="row">
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-2">
                    <!-- .span2 -->
                </div>
                <div class="col-md-8">
                    <p>2013-09-05</p>
                    <h1>title</h1>
                    <p>content</p>
                    <a href="#">继续阅读</a>
                    <hr>
                </div>
            </div>
        </div>
    </div>
{% endblock %}