{% extends "base/base.html" %}

{% block link %}
    <style type="text/css">

        .article {
            border-bottom:1px solid #ddd;padding-right: 20px;
        }
        .article h1, h2, h3{
            font-size: 22px;
            font-weight: 300;
            line-height: 34px;
        }
        .article p {
            font-size: 14px;
            line-height: 26px;
        }

        .article h3.title {
            font-size: 32px;
        }

        .readmore {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .article-meta {
            line-height: 26px;
            font-size: 14px;
            margin-top: 5px;
            margin-bottom: 5px;
            color: #999;
        }
        .article-meta span {
            margin-right: 10px;
            border-right: 1px solid #ddd;
            padding-right: 10px;
        }

    </style>
{% endblock %}

{% block title %} 陈驰远的博客 {% endblock %}

{% block container %}
    <div class="contailner-body row" style="margin-top: 20px;">
        <div class="blogs col-xs-offset-1 col-xs-11 col-sm-offset-1 col-sm-11 col-md-offset-2 col-lg-offset-2 col-md-10 col-lg-10">
            <div class="archives-wrapper row">
                {% for blog in blogs %}
                    <section class="archives">
                        <div class="article">
                            <div class="row">
                                <h3 class="col-md-12 title"><a href="{{ blog.absolute_url }}" target="_blank">{{ blog.title }}</a></h3>
                            </div>
                            <div class="row">
                                <div class="col-md-12 article-meta">
                                    <span><i class="icon-calendar"></i>{{ blog.created_at|date:"Y-m-d" }}</span>
                                    {% if blog.tags %}
                                        <span>{{ blog.tags }}</span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    {% autoescape off %}
                                        {{ blog.snapshot }}
                                    {% endautoescape %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <a class="btn btn-primary btn-sm readmore grow" role="botton" target="_blank" href="{{ blog.absolute_url }}">继续阅读</a>
                                </div>
                            </div>
                        </div>
                    </section>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}