{% extends "base/base.html" %}

{% block title %} 陈驰远的博客 {% endblock %}

{% block container %}
    <div class="row">
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-2">
                    <!-- .span2 -->
                </div>
                <div class="col-md-8 posts">
                    <div class="post thumbnail">
                        <a href="/posts/5/" target="_blank">
                        <section>
                            <p>2013-09-05</p>
                            <h1>title</h1>
                            <p>content</p>
                            <a href="#">继续阅读</a>
                        </section>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}