{% extends "base/base.html" %}

{% block title %}{{ blog.title }} | 陈驰远的博客 {% endblock %}
{% block link %}
    <script src="http://cdn.staticfile.org/highlight.js/7.4/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <link rel="stylesheet" href="http://cdn.staticfile.org/highlight.js/7.4/styles/solarized_dark.min.css"/>

{% endblock %}

{% block container %}
    <div class="article">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <h1 class="post-title"><span>{{ blog.title }}</span></h1>
                <p class="post-date">创建于: {{ blog.created_at|date:'Y-m-d' }}</p>
                <hr/>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-offset-2 col-lg-offset-2 col-md-8 col-lg-8">
                {% autoescape off %}
                    {{ blog.content }}
                {% endautoescape %}
            </div>
        </div>
    </div>
{% endblock %}
{% block comments %}
    <div class="comments row" style="margin-top: 30px;">
        <div class="ds-thread col-md-offset-2 col-md-8 col-xs-offset-1 col-xs-8"></div>
        <script type="text/javascript">
            var duoshuoQuery = {short_name:"chenchiyuan"};
            (function() {
                var ds = document.createElement('script');
                ds.type = 'text/javascript';ds.async = true;
                ds.src = 'http://static.duoshuo.com/embed.js';
                ds.charset = 'UTF-8';
                (document.getElementsByTagName('head')[0]
                        || document.getElementsByTagName('body')[0]).appendChild(ds);
            })();
        </script>
    </div>
{% endblock %}