{% extends "base/base.html" %}

{% block title %}Blogs Title {% endblock %}

{% block container %}
    <div class="row">
        <div class="col-md-12">
            <h2 class="post-title"><span>{{ blog.title }}</span></h2>
            <p class="postdate">2013年9月5日</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-2">
                </div>
                <article class="col-md-8">
                    {% autoescape off %}
                        {{ blog.content }}
                    {% endautoescape %}
                </article>
            </div>
        </div>
    </div>
{% endblock %}