{% extends "base/base.html" %}

{% block title %}{{ blog.title }} | 陈驰远的博客 {% endblock %}
{% block link %}
    <link rel="stylesheet" href="http://bootswatch.com/yeti/bootstrap.min.css"/>
{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="post-title"><span>{{ blog.title }}</span></h1>
            <p class="postdate">创建于: {{ blog.created_at|date:'Y-m-d' }}</p>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-2">
                </div>
                <article class="col-md-8">
                    {% autoescape off %}
                        {{ blog.content }}
                    {% endautoescape %}
                </article>
            </div>
        </div>
    </div>
{% endblock %}